body{
    background-color: #888844;
    color: wheat;
    max-width: 800px;
    margin: 0 auto 0 auto;
    padding: 20px;
    font-family: 'Dosis', sans-serif;

}

h1{
background-color: orange;
line-height: 1.5;
font-size: 48px;
}

h3{
    background-color: #ffa366;
    line-height: 1.5;
    font-size: 22px;
}

li{
    line-height: 1.5;
    font-size: 18px;
}

p{
    line-height: 1.5;
    font-size: 24px;

}

img{
    width: 70%;
}

a{
    display:block;
    margin-top: 20px;
    color: purple;
}

#images {
    display: flex;
    gap: 20px;
}